// Global/Generic CSS.

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Titillium Web', sans-serif;
}

h1 {
   font-size: 4rem;
   font-weight: 600;
   line-height: 5.5rem;
}

h2 {
   font-size: 2.5rem;
   margin-bottom: 1.8rem;
}

h5 {
   margin-bottom: 0;
}

p {
   font-size: 1.2rem;
   color: $gray2;
   line-height: 1.8rem;
   margin-bottom: 0;
}

a,
a:hover {
   text-decoration: none;
   color: $black1;
}

section {
   padding: 6rem 0;
}

.text-dark {
   color: $black2;
}

.topmargin-lg {
   margin-top: 4rem !important;
}