// Global/Generic CSS.

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*
html {
   font-size: 62.5%;
}
*/

body {
   // color: $white;
   font-family: 'Titillium Web', sans-serif;
}

h1 {
   font-size: 4rem;
   font-weight: 600;
   line-height: 5.5rem;
}

p {
   font-size: 1.2rem;
   color: $gray2;
   line-height: 1.8rem;
   margin-bottom: 0;
}

a,
a:hover {
   text-decoration: none;
   color: $black;
}