.carousel {
   min-height: 240px;
   padding: 40px;
   border-radius: 2px;
   text-align: center;
}

.carousel p {
   font-size: 1.4rem;
   font-weight: 400;
   color: $black2;
}

.carousel .list-inline {
   margin-top: .5rem;
}

.carousel-control-next,
.carousel-control-prev {
   filter: invert(100%);
}

.rating .list-inline-item {
   color: $yellow1;
   font-size: 24px;
}

.testimonial-user {
   max-width: 240px;
   margin: 0 auto;
   text-align: left;
}

.testimonial-user h6 {
   margin-bottom: 0px;
}

.testimonial-user span {
   font-size: 12px;
}

.testimonial-user img {
   border-radius: 50%;
   max-width: 50px;
   text-align: center;
}